// Style for button and pseudo button for input and link

.btn,
.button,
.woocommerce ul.products li.product .button {
	color: $color_withe;
	font-family: $main_font_family;
	font-size: 1.13em;
	font-weight: 300;
	padding: 1.2em 1.4em;
	border: 1px solid #2E2E2E;
	outline: none;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	background-color: #2E2E2E;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;
	transition: all 0.3s;
	text-decoration: none;

	@media (min-width: 768px) {
		padding: 1em 2.2em;
	}

	&:hover:not([disabled]) {
		background-color: darken(#2E2E2E, 7%);
		color: $color_withe;
		text-decoration: none;
	}

	&:active:not([disabled]),
	&:focus:not([disabled]) {
		background-color: lighten(#2E2E2E, 7%);
		color: $color_withe;
	}

	&_primary {
		border-color: #00AFED;
		background-color: #00AFED;

		&:hover:not([disabled]) {
			border-color: darken(#00AFED, 7%);
			background-color: darken(#00AFED, 7%);
		}

		&:active:not([disabled]),
		&:focus:not([disabled]) {
			border-color: lighten(#00AFED, 7%);
			background-color: lighten(#00AFED, 7%);
		}
	}

	&.product_type_simple,
	&_border {
		background-color: transparent;
		color: #2E2E2E;

		&_primary {
			border-color: #00AFED;
			color: #00AFED;
			background-color: transparent;

			&:hover:not([disabled]) {
				background-color: #00AFED;
			}
		}

		&:active:not([disabled]),
		&:focus:not([disabled]) {
			border-color: lighten(#00AFED, 7%);
			background-color: lighten(#00AFED, 7%);
		}
	}

	&_contrast {
		border-color: $color_withe;
		background-color: $color_withe;
		color: #2E2E2E;

		&:active:not([disabled]),
		&:focus:not([disabled]),
		&:hover:not([disabled]) {
			background-color: transparent;
		}
	}

	&:disabled {
		cursor: default;
		opacity: 0.5;
	}

	&[name="update_cart"]:disabled {
		display: none;
	}
}
