/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	font-size: 0.94em;
	position: relative;
	padding: 1em 0;
	background-color: #222222;
	color: $color_withe;

	a {
		color: $color_withe;
		text-decoration-color: transparent;

		&:hover {
			text-decoration-color: initial;
		}
	}

	&__content {
		@extend .container_center;
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-weight: 300;
		padding: 1.9em 0;

		@media (min-width: 768px) {
			padding: 4.7em 0 1.9em;
			flex-wrap: nowrap;
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: none;
		font-weight: 300;
		padding-top: 0.3em;
		margin-right: 0.5em;

		a:not([class]) {
			margin-bottom: 1.2em;
		}

		@media (max-width: 767px) {
			order: 1;
		}
	}

	&__logo {
		font-size: 1.7em;
		font-weight: 500;
		margin-bottom: 0.7em;
		text-decoration: none;
	}

	&__address {
		color: #9D9D9D;
	}

	&__nav {
		flex: none;
		padding-top: 1.8em;

		@media (min-width: 768px) {
			padding-top: 0.8em;
			margin-right: 5.6em;
		}

		.menu {
			display: block;
			columns: 2 10.2em;

			&-item {
				margin-bottom: 1.1em;
			}

			a {
				font-weight: 300;
			}
		}

		@media (max-width: 767px) {
			order: 3;
		}
	}

	&__soc {
		padding-top: 1.8em;
		flex: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: 768px) {
			padding-top: 0.6em;
			margin-right: 3em;
		}

		@media (max-width: 767px) {
			order: 1;
		}

		a {
			display: inline-flex;
			align-items: center;
			margin-bottom: 1em;
			text-decoration: none;

			&:hover {
				opacity: 0.8;
			}
		}

		i {
			font-size: 1.7em;
			margin-right: 0.8em;
		}
	}

	&__callback {
		flex: none;
		min-width: 0;
		margin-top: 1.8em;
		max-width: 100%;

		@media (min-width: 768px) {
			width: 31.7em;
			margin-top: 0;
			max-width: none;
		}

		.your-tel {
			flex-grow: 1;
			min-width: 0;

			input {
				width: 100%;
				flex: none;
				min-width: 0;
				font-size: 1.1em;
			}
		}

		.btn {
			flex: none;
			font-size: 1.2em;
			padding: 1.1em;

			@media (min-width: 768px) {
				padding: 1.3em 1.65em;
			}
		}

		br {
			display: none;
		}

		@media (max-width: 767px) {
			order: 4;
		}
	}

	&__policy {
		margin-top: 1.4em;
		color: #9D9D9D;
		line-height: 1.4;
	}

	&__bottom {
		padding: 1.4em 0;
		border-top: 1px solid #2E2E2E;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (min-width: 768px) {
			padding: 2.68em 0 4.06em;
		}
	}

	&__copy {
		margin: 0.5em 0;
	}

	&__privacy {
		margin: 0.5em 0;

		a {
			margin-left: 1em;
		}
	}

}
