.search {
    display: flex;
    width: 100%;

    input {
        flex-grow: 1;

        @media (max-width: 767px) {
            padding: 1.3em;
            border: 0;
        }
    }

    .btn {
        padding: 1.3em 1.2em;
        display: flex;
        align-items: center;
        flex: none;
        text-transform: uppercase;
        font-weight: 600;

        @media (min-width: 768px) {
            padding: 1.3em 2.3em 1.3em 2.1em;
        }

        .icon_zoom {
            font-size: 1.2em;
            margin-right: 0.7em;

            .mainScreen & {
                @media (max-width: 767px) {
                    margin-right: 0;
                }
            }

            @media (min-width: 768px) {
                font-size: 1em;
            }
        }
    }
}
